.left-image {
  position: relative;
  width: 50vw;
  margin: 5vh 10vw 2vh 10vw;
  @include medium{
    margin: 45vh 10vw 5vh 10vw;
    width: 40vw;
  }
  //   height: 40vh;
  //   background-color: blue;
  > img {
    height: 100%;
    width: 100%;
  }

  > .inner-text {
    position: absolute;
    left: 60%;
    top: 63%;
  }
}

.right-image{
  position: relative;
  float: right;
  margin: 5vh 2vw;
  width: 70vw;
  @include medium{
    margin: 5vh 5vw;
    width: 60vw;
  }
  //   height: 40vh;
  //   background-color: blue;
  > img {
    height: 100%;
    width: 100%;
  }

  > .inner-text {
    position: absolute;
    left: -35%;
    @include medium{
      left: -27%;
    }
    top: 10%;
  }
}