.left-image {
  position: relative;
  margin: 30vh 10vw 5vh 10vw;

  width: 40vw;
  //   height: 40vh;
  //   background-color: blue;
  > img {
    height: 100%;
    width: 100%;
  }

  > .inner-text {
    position: absolute;
    left: 60%;
    top: 63%;
  }
}

.right-image{
  position: relative;
  margin: 5vh 5vw;
  float: right;
  width: 60vw;
  //   height: 40vh;
  //   background-color: blue;
  > img {
    height: 100%;
    width: 100%;
  }

  > .inner-text {
    position: absolute;
    right: 60%;
    top: 10%;
  }
}