.finder {
  // margin: 0 auto;
  // width: 100%;
  // height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  // background-color: red;
  > h2{
    font-size: 30px;
    text-align: center;
    //   width: 100%;
  }
}

// table{
//   width: 60vh;
//   height: 60vh;
//   border: 2px solid $light-font;
//   border-collapse: collapse;
//   margin: 50px;
    
// }

// td{
//   width: 10%;
//   height: 10%;
//   border: 2px solid $light-font;
// }

.table-wrapper{
  height: 60vh;
  width: 60vh;
  // background-color: red;
  border: 1px solid $light-font;
  margin: 30px;
  border-collapse: collapse;
  display: flex;
  flex-wrap: wrap;
}

.square{
  border-collapse: collapse;
  width: 10%;
  height: 10%;
  border: 2px solid $light-font;
  // background-color: red;
  font-size: 10px;
}

.btn-finder{
  background-color: $selected-color;
  color: $light-font;
  border: none;
  width: 160px;
  height: 40px;
}


.path{
  background-color: $selected-color;
}
.short-path{
  background-color: $active-color;
}

// .start{
//   background-color: white;
// }

.end{
  background-color: red;
}