$bp-sm: 650px;
$bp-md: 820px;
$bp-lg: 1250px;
@mixin small {
  @media all and (min-width: #{$bp-sm}) {
    @content;
  }
}
@mixin medium {
  @media all and (min-width: #{$bp-md}) {
    @content;
  }
}

@mixin large {
  @media all and (min-width: #{$bp-lg}) {
    @content;
  }
}