h1{
  text-align: center;
  color: $light-font;
  margin-top: 5vh;
  font-weight: bold;
  font-family: $font-family;
  letter-spacing: 10px;
  font-size: 30px;
  @include medium{
    margin-top: 11vh;
    letter-spacing: 35px;
    font-size: 60px;
  }
  @include large{
    letter-spacing: 40px;
    font-size: 80px;
  }
}

h2{
  font-weight: bold;
  text-transform: uppercase;
  width: 70vw;
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 5px;
  @include medium{
    width: 50vw;
    font-size: 45px;
    letter-spacing: 5px;
    line-height: 40px;
  }
}

h3{
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-indent: 3px;
  font-size: 10px;
  letter-spacing: 5px;
  @include medium{
    letter-spacing: 3px;
    font-size: 30px;
  }
}

p{
  width: 100%;
  float: right;
  text-align: center;
  letter-spacing: 5px;
}